
$small : 480px;
$medium : 760px;
$large: 870px;

@mixin mq-small {
  @media (max-width: $small - 1) {
    @content;
  }
}
@mixin mq-small-up {
  @media (min-width: $small) and (max-width: $medium - 1)  {
    @content;
  }
}
@mixin mq-medium {
  @media (min-width: $medium) and (max-width: $large - 1px) {
    @content;
  }
}
@mixin mq-medium-down {
  @media (max-width: $medium - 1px) {
    @content;
  }
}
@mixin mq-large-down {
  @media (max-width: $large) {
    @content;
  }
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Segoe Ui'
}
body p {
	font-size: 18px;
}
h1 {
	font-weight: 300;
	font-size: 48px;
}

.container:before, 
.container:after,
.clear:before, 
.clear:after, 
.row:before,
.row:after {
	content: " ";
	display: table;
}

.container:after, 
.clear:after,
.row:after {
	clear: both;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	// background-color: #ccc;
}

//_______________________________________________header

.social {
	min-height: 65px;
	div:first-child {
		width: 30%;
		float: left;
		padding: 20px 0;
	}	
	div:last-child {
		width: 70%;
		float: right;
		padding: 20px 0;
	}

	div:last-child a {
		float: right;
		padding-left: 10px;
	}
	div span {
		float: right;
		padding-right: 5px;
	}
}


.background-1 {
	border-top: 5px solid #eee;
	background: radial-gradient(closest-corner circle at 70% 100%, #09c9f5, #00bbf1);
}
.mainblock {
	color: white;
	div {
		width: 50%;
		float: left;
	}
}

//_______________________________________________блок с компаниями

.companies {
	display: flex;
	flex-flow: row wrap;	
	justify-content: space-between;
	div {
		flex: 1;
		max-width: 200px;
		img {
			border: 2px solid #d7d7d7;
			filter: grayscale(100%);
		}
		p {
			font-weight: 600;
			font-size: 22px;
			margin: 10px 0;
		}

		&:hover img {
			border: 3px solid #7bb63c;
			filter: none;
			margin: -1px;
		}
		&:hover p {
			color: #7bb63c;
		}
	}
}
@include mq-large-down {
	.companies {
		justify-content: center;
			div {
			margin: 0 20px;
		}
	}
} 

//_______________________________________________блок с решениями

.background-2 {
	background-color: rgb(0, 120, 215);
	margin-top: 40px;
}
.solutions {
	color: white;
	div {
		float: left;
		max-width: 75%;
	}
	img {
		padding: 0 20px;
	}
	p {
		padding: 20px;
		padding-top: 40px;
	}
	span {
		color: rgb(197, 213, 51);
		font-weight: 600;
	}
}
@include mq-large-down {
	.solutions { 
		div {
			max-width: 100%;
			 &:first-child {
			 	float: none;
				margin: 0 auto;
				max-width: 165px;
			}
			img {
				padding: 0;
			}
			p {
				padding-top: 20px;
			}
		}
	}
}

//_______________________________________________блок с ресурсами

.resources {
	div {
		margin: 10px 1%;
		float: left;
		color: rgb(0, 120, 215);
			:hover {
			border-color: rgb(123, 182, 60);
			color: white;
			background-color: rgb(123, 182, 60);
			}

		p {
			font-weight: 600;
			padding: 10px 10px 10px 30px;
			border: 2px solid rgb(0, 120, 215);
		}
		&:nth-child(1) {
			width: 64%;
			margin-left: 0;
		}
		&:nth-child(2) {
			width: 34%;
			margin-right: 0;
		}
		&:nth-child(3) {
			width: 37%;
			margin-left: 0;
		}
		&:nth-child(4) {
			width: 39%;
		}
		&:nth-child(5) {
			width: 20%;
			margin-right: 0;

		}
	}
}

@media screen and (max-width: $large) {
	.resources div p {min-height: 100px; padding-left: 10px}
} 
@include mq-small-up {
	.resources {
		div {
			margin: 2% !important;
			&:nth-child(1) {
				width: 96%;

			}
			&:nth-child(2) {
				width: 46%;

			}
			&:nth-child(3) {
				width: 46%;

			}
			&:nth-child(4) {
				width: 46%;

			}
			&:nth-child(5) {
				width: 46% ;

			}
			p {
				min-height: 120px;
			}
		}
	}
} 
@include mq-small {
	.resources { 
		div {
			width: 96% !important;
			margin: 2% !important;
		}
	}
}








//_______________________________________________блок с шагами


.steps {
	text-align: center;
	.test {
		width: 20%;
		float: left;
	}
}

@include mq-medium-down {
	.steps { 
		.test {
			width: 210px;
			float: none;
			margin: 0 auto;
			height: 100px;
			.circle {
				float: left;
			}
		}
	}
}



.circle {
	width: 70px;
	height: 70px;
	background: #00abec;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 0 auto;

	p {
	color: white;
	padding-top: 5px !important;
	text-align: center;
	}
	span {
		font-size: 48px;
	}
}
.line {	
	position: absolute;
	background: #00abec;
	height: 3px;
	width: 80%;
	margin: 0 auto;
	top: 50px;
	left: 10%;
	z-index: -1;
	display: block;
}







/*

/////////////////////////////////////////////BAD PREVIOUS TRY//////////////////////////////////////////////////////


@font-face {
  font-family: 'Myriad Pro' sans-serif ;
  src: url(resources/MyriadPro-Regular.otf) format('truetype'),
  src: url(resources/MyriadPro-Bold.otf) format('truetype'),
  src: url(resources/MyriadPro-Light.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe Ui';
  src: url(resources/segoeuil.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe Ui SL';
  src: url(resources/segoeuil.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body h1 {
	font-family: 'Segoe Ui', Geneva, Arial, Helvetica, sans-serif;  
}
body {
	font-family: 'Myriad Pro', Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #1c2532; 
	overflow-X: hidden; 
}
img {
	max-width: 100%;
}
h1 {
	font-weight: lighter;
	font-size: 48px;
	margin: 50px 0;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
начало	background-color: #d2d2d2;конец
}

.container .cols {
	float: left;
	padding: 0 0.7em;
	margin: 0 0 1em;
}
.container .cols.col-1 {width: 8.333333333333332%;}
.container .cols.col-2 {width: 16.666666667%;}
.container .cols.col-3 {width: 25%;}
.container .cols.col-4 {width: 33.333333333%;}
.container .cols.col-5 {width: 41.666666667%;}
.container .cols.col-6 {width: 50%;}
.container .cols.col-7 {width: 58.333333333%;}
.container .cols.col-8 {width: 66.666666667%;}
.container .cols.col-9 {width: 75%;}
.container .cols.col-10 {width: 83.33333333%;}
.container .cols.col-11 {width: 91.666666667%;}
.container .cols.col-12 {width: 100%;}

.container:before, 
.container:after,
.clear:before, 
.clear:after, 
.row:before,
.row:after {
	content: " ";
	display: table;
}
.container:after, 
.clear:after,
.row:after {
	clear: both;
}

началоheaderконец

.social {
	float: right;
	margin-left: 5px;
	padding: 22px 0 0 0;
}
.social:first-child {
		padding-right: 10px;
}
.social p {
	font-size: 16px;
	color: #b1b0b1;
	padding-right: 20px;
}
.microsoft {
	float: left;
	padding: 22px 0 18px 10px;
}


началофон первого блокаконец

.back1 {
	background: radial-gradient(closest-corner circle at 70% 100%, #09c9f5, #00bbf1);
	border-top: 5px solid #eee;
начало	overflow-X: hidden;конец
}

началопервый блокконец

.mainblock {
	color: white;
	font-weight: lighter;
	margin: 20px 0;
	font-family: 'Segoe Ui', Geneva, Arial, Helvetica, sans-serif; 
	background: url(resources/picture1.png) no-repeat right ;
	background-size: contain;
	height: 450px;	
	position: relative;
}
.mainblock p {
	margin-bottom: 20px;
	z-index: 1000;
	height: 100%;
	width: 100%;
}
.mainblock h1 {
	margin: 60px 0 20px 0;
}

.cloud1 {
	position: absolute;
	left: -570px;
	top: 50px;
	opacity: 0.2;
 	animation: cloud1 5s;
 	animation-iteration-count: infinite;
}

.cloud2 {
	position: absolute;
	left: 1060px;
	top: 100px;
	opacity: 0.2;
 	animation: cloud2 5s;
 	animation-iteration-count: infinite;
}
@keyframes cloud1 {
	from {	
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px)
	} 
	to {
		transform: translateY(0)
	} 
}
@keyframes cloud2 {
	from {	
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px)
	} 
	to {
		transform: translateY(0)
	} 
}

началовторой блок с компаниямиконец


.clouds {
		position: relative;
}

.cloud3 {
	width: 80%;
	position: absolute;
	right: 1100px;
	top: -100px;
	opacity: 0.1;
 	animation: cloud3 5s;
 	animation-iteration-count: infinite;
}
.cloud4 {
	width: 80%;
	position: absolute;
	left: 1060px;
	top: 0px;
	opacity: 0.1;
 	animation: cloud4 5s;
 	animation-iteration-count: infinite;
}
@keyframes cloud3 {
	from {	
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px)
	} 
	to {
		transform: translateY(0)
	} 
}
@keyframes cloud4 {
	from {	
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px)
	} 
	to {
		transform: translateY(0)
	} 
}
.company {
	margin: 20px 10px;
}

.company img {
	border: 2px solid #d7d7d7;
	padding: 5px 15px;
	filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	width: 100%;
}
.company p {
	font-size: 22px;
	font-weight: bolder;
	max-width: 100%;
	margin-top: 10px;
}
.company:hover img {
	border: 3px solid #7bb63c;
	-ms-filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
	margin-bottom: -1px;

}
.company:hover p {
	color: #7bb63c;
}

началофон третьего блокаконец

.back2 {
	background-color: rgb(0, 120, 215);
	height: 100%;
	margin-top: 40px;
}

.space {
	margin-bottom: 0 !important;
}
.space p {
	padding: 50px 0;
}
.space img {
	margin-left: 15px;
}

началоблок полезных ресурсовконец

.sources {
	color: rgb(0, 120, 215);;
	border: 2px solid rgb(0, 120, 215);
	height: 100%;
	width: 100%;
	padding: 10px 20px;
}
.sources:hover {
	border-color: rgb(123, 182, 60);
	color: white;
	background-color: rgb(123, 182, 60);
}
span {
color: rgb(197, 213, 51);
font-weight: bolder;
}

началопоследний блокконец

.circle {
	width: 70px;
	height: 70px;
	background: #00abec;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 0 auto;
}
.circle p {
	color: white;
	padding-top: 5px !important;
	text-align: center;
}
.line {	
	position: absolute;
	background: #00abec;
	height: 3px;
	width: 80%;
	margin: 0 auto;
	top: 50px;
	left: 10%;
	z-index: -1;
	display: block;
}
.steps {
	position: relative;
	margin-bottom: 300px;
}
.steps p {
	text-align: center;
	padding: 15px 0;
	font-weight: lighter;
}
.steps span {
	font-size: 48px;
	color: white;
}

@media screen and (max-width: 480px) {
	.container .cols {	width: 100% !important;}
	.steps p {font-size: 18px;}	
}

@media screen and (max-width: 1234px) and (min-width: 481px) {
	.small {width: 50% !important; }
	.company p {font-size: 16px;}
	.sources {height: auto; min-height: 100px; font-size: 18px;}
	.steps p {font-size: 16px;}
}


@media screen and (max-width: 760px) {
	.small {width: 100% !important; }
	.medium {width: 100% !important;}
	.sources {height: auto; min-height: 60px;}
	.line {display: none;}
	.steps p {font-size: 18px;}
	.social p {display: none;}

} 

@media screen and (max-width: 760px) and (min-width: 481px) {
	.large {width: 50% !important;}
} 

@media screen and (max-width: 960px) {
	.space{width: 100% !important;}
	.space img {display: none;}
	.mainblock .medium {width: 100% !important;}
	.mainblock {background: none; height: auto;}
	.mainblock h1 {margin: 10px 0}
	.back1 {height: auto;}
} 

@media screen and (max-width: 900px)  and (min-width: 761px) {
	.large  {width: 33% !important; height: 200px;}
} 


*/