* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body h1 {
	font-family: Segoe Ui; 
}
body {
	font-family: Myriad Pro;
	font-size: 18px;
	color: #1c2532;
}
img {
	max-width: 100%;
}
h1 {
	font-weight: lighter;
	font-size: 48px;
	margin: 50px 0;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
/*	background-color: #d2d2d2;*/
}

.container .cols {
	float: left;
	padding: 0 0.7em;
	margin: 0 0 1em;
}
.container .cols.col-1 {width: 8.333333333333332%;}
.container .cols.col-2 {width: 16.666666667%;}
.container .cols.col-3 {width: 25%;}
.container .cols.col-4 {width: 33.333333333%;}
.container .cols.col-5 {width: 41.666666667%;}
.container .cols.col-6 {width: 50%;}
.container .cols.col-7 {width: 58.333333333%;}
.container .cols.col-8 {width: 66.666666667%;}
.container .cols.col-9 {width: 75%;}
.container .cols.col-10 {width: 83.33333333%;}
.container .cols.col-11 {width: 91.666666667%;}
.container .cols.col-12 {width: 100%;}

.container:before, 
.container:after,
.clear:before, 
.clear:after, 
.row:before,
.row:after {
	content: " ";
	display: table;
}
.container:after, 
.clear:after,
.row:after {
	clear: both;
}

/*header*/

.social {
	float: right;
	margin-left: 5px;
	padding: 22px 0 0 0;
}
.social:first-child {
		padding-right: 10px;
}
.social p {
	font-size: 16px;
	color: #b1b0b1;
	padding-right: 20px;
}
.microsoft {
	float: left;
	padding: 22px 0 18px 10px;
}


/*фон первого блока*/

.back1 {
	background: radial-gradient(closest-corner circle at 70% 100%, #09c9f5, #00bbf1);
	border-top: 5px solid #eee;
	overflow: hidden;
}

/*первый блок*/

.mainblock {
	color: white;
	font-weight: lighter;
	margin: 20px 0;
	font-family: Segoe Ui; 
	background: url(resources/picture1.png) no-repeat right ;
	background-size: contain;
	height: 450px;	
	position: relative;
}
.mainblock p {
	margin-bottom: 20px;
	z-index: 1000;
	height: 100%;
	width: 100%;
}
.mainblock h1 {
	margin: 60px 0 20px 0;
}

.cloud1 {
	position: absolute;
	left: -570px;
	top: 50px;
	opacity: 0.2;
	-webkit-animation: cloud1 5s;
 	animation: cloud1 5s;
 	animation-iteration-count: infinite;
}

.cloud2 {
	position: absolute;
	left: 1060px;
	top: 100px;
	opacity: 0.2;
	-webkit-animation: cloud2 5s;
 	animation: cloud2 5s;
 	animation-iteration-count: infinite;
}
@keyframes cloud1 {
	from {	
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px)
	} 
	to {
		transform: translateY(0)
	} 
}
@keyframes cloud2 {
	from {	
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px)
	} 
	to {
		transform: translateY(0)
	} 
}

/*второй блок с компаниями*/

.back2 {
		overflow: hidden;
}
.clouds {
		position: relative;
}

.cloud3 {
	width: 80%;
	position: absolute;
	right: 1100px;
	top: -100px;
	opacity: 0.1;
	-webkit-animation: cloud3 5s;
 	animation: cloud3 5s;
 	animation-iteration-count: infinite;
}

.cloud4 {
	width: 80%;
	position: absolute;
	left: 1060px;
	top: 0px;
	opacity: 0.1;
	-webkit-animation: cloud4 5s;
 	animation: cloud4 5s;
 	animation-iteration-count: infinite;
}
@keyframes cloud3 {
	from {	
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px)
	} 
	to {
		transform: translateY(0)
	} 
}
@keyframes cloud4 {
	from {	
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px)
	} 
	to {
		transform: translateY(0)
	} 
}
.company {
	margin: 20px 10px;
}

.company img {
	border: 2px solid #d7d7d7;
	padding: 5px 15px;
	filter: grayscale(100%);
	width: 100%;
}
.company p {
	font-size: 22px;
	font-weight: bolder;
	max-width: 100%;
	margin-top: 10px;
}
.company:hover img {
	border: 3px solid #7bb63c;
	filter: none;
	margin-bottom: -1px;

}
.company:hover p {
	color: #7bb63c;
}

/*фон третьего блока*/

.back3 {
	background-color: rgb(0, 120, 215);
	height: 100%;
	margin-top: 40px;
}

.space {
	margin-bottom: 0 !important;
}
.space p {
	padding: 50px 0;
}
.space img {
	margin-left: 15px;
}

/*блок полезных ресурсов*/

.sources {
	color: rgb(0, 120, 215);;
	border: 2px solid rgb(0, 120, 215);
	height: 100%;
	width: 100%;
	padding: 10px 20px;
}
.sources:hover {
	border-color: rgb(123, 182, 60);
	color: white;
	background-color: rgb(123, 182, 60);
}
span {
color: rgb(197, 213, 51);
}

/*последний блок*/

.circle {
	width: 70px;
	height: 70px;
	background: #00abec;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 0 auto;
}
.circle p {
	color: white;
	padding-top: 5px !important;
	text-align: center;
}
.line {	
	position: absolute;
	background: #00abec;
	height: 3px;
	width: 80%;
	margin: 0 auto;
	top: 50px;
	left: 10%;
	z-index: -1;
	display: block;
}
.steps {
	position: relative;
}
.steps p {
	text-align: center;
	padding: 15px 0;
	font-weight: lighter;
}
.steps span {
	font-size: 48px;
	color: white;
}

@media screen and (max-width: 480px) {
	.container .cols {	width: 100% !important;}	
}

@media screen and (max-width: 1234px) and (min-width: 481px) {
	.medium {width: 50% !important; }
	.company p {font-size: 14px;}
	.sources {height: auto; min-height: 100px; font-size: 16px;}
	.pos p {font-size: 16px;}
}


@media screen and (max-width: 760px) {
	.medium {width: 100% !important; }
	.medium1 {width: 100% !important;}
	.company p {font-size: 14px;}
	.sources {height: auto; min-height: 60px;}
	.line {display: none;}
	.pos p {font-size: 18px;}
	.social p {display: none;}

} 

@media screen and (max-width: 760px) and (min-width: 481px) {
	.medium2 {width: 50% !important;}
} 

@media screen and (max-width: 960px) {
	.space{width: 100% !important;}
	.space img {display: none;}
	.mainblock .medium1 {width: 100% !important;}
	.mainblock {background: none; height: auto;}
	.back1 {height: auto;}
} 

@media screen and (max-width: 900px)  and (min-width: 761px) {
	.medium2  {width: 33% !important; height: 200px;}

} 


